<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="greenhouseInterfacePort" value="8080"/>
    <add key="greenhouseInterfaceAddress" value="127.0.0.1"/>
    <add key="updateInterval" value="1000"/>
    <add key="objectDefinitionsFile" value="ObjectDefinitions.json"/>
  </appSettings>
</configuration>